From: <[% ADMINEMAIL %]>
To: <[% CONTACTEMAIL %]>
Subject: ** [% NOTIFICATIONTYPE %] Service Alert: [% HOSTALIAS %]/[% SERVICEDESC %] is [% SERVICESTATE %] **

***** Icinga *****

Notification Type: [% NOTIFICATIONTYPE %]

Service: [% SERVICEDESC %]
Host: [% HOSTALIAS %]
Address: [% HOSTADDRESS %]
State: [% SERVICESTATE %]

Date/Time: [% LONGDATETIME %]

Additional Info:

[% SERVICEOUTPUT %]

